# Open Space
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.
#
# Код
/Content.*/** @korrotrat @XuTPoBaH4uK
# Прототипы
/Resources/Textures/**
/Resources/Maps/**
/Resources/Prototypes/** @ReWAFFlution
/Resources/Locale/**
